<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> Quattro List</title>
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Quattro</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Accueil<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add">Ajout</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/detail">Détail</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/list">Liste</a>
          </li>
        </ul>
      </div>
    </nav>

        {{> main}}

    <footer class="footer">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <p>
            Propulsé par les Quattro - IT SQUAD  ©  2018 <br />
            <a href="mailto:quattro@it-squad.fr">quattro@it-squad.fr</a><br />
            <a href="http://gitlab.it-squad.fr/Lightnyng/Node2" target="_blank">Notre GitLab</a>
          </p> 
          </nav>
      </footer>

  </body>
</html>
