<div id="list div_list">
  <h1> Devise utilisée : {{currency}}  </h1>
  <table class="table .table-striped table-bordered" id="table_list">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prix (€)</th>
      <th scope="col"></th>
    </tr>
  </thead>
  {{#Pagelist}}
  <tbody>
    <tr class="table-info">
      <th scope="row" >{{name}}</th>
      <td>{{priceEur}}</td>
      <td><a href="/detail/{{id}}">Détails</a></td>
    </tr>
  </tbody>
  {{/Pagelist}}
</table>

  <div id="a_list_currency"><br /><legend>Choisissez votre devise de conversion </legend>
    {{#allCurrency}}
      <a href="/list/{{.}}" >{{.}}<a/>&nbsp;/&nbsp;
    {{/allCurrency}}
    <br /><br /><br /><button type="button" class="btn btn-info" onclick="window.location='/list';" >Devise initial : Euro</button>
  </div>

</div>
